# doesn't really track versions, so ignore it
Brewfile.lock.json

.venv
__pycache__
home/.wireshark/**/recent
home/.wireshark/**/recent_common
home/.wireshark/.fccache-new

# can't check this in, because not everything is going to be available. instead this generated in fish.sh
config/omf/bundle
config/karabiner/automatic_backups/

# vim
home/.vim/sessions/default.vim
home/.vim/files/info/*
**/doc/tags
home/.vim/.netrwhist
home/.vim/plugged

# contains credentials and other sensitive data
home/.bash_profile.d/private

# sbp
config/sbp/cache
config/sbp/hook.log

# fish
# the current theme manages some of the files, so ignore those
config/fish/functions/fish_prompt.fish
config/fish/fishd.*
# fig symlinks these from $HOME/.fig which will vary depending on the user
config/fish/conf.d/*_fig_*.fish
# fisher managed files
config/fish/completions/fisher.fish
config/fish/completions/fzf_configure_bindings.fish
config/fish/completions/nvm.fish
config/fish/completions/tide.fish
config/fish/conf.d/_tide_init.fish
config/fish/conf.d/abbr_tips.fish
config/fish/conf.d/autopair.fish
config/fish/conf.d/fzf.fish
config/fish/conf.d/halostatue_fish_direnv.fish
config/fish/conf.d/nvm.fish
config/fish/conf.d/plugin-bang-bang.fish
config/fish/conf.d/z.fish
config/fish/functions/__abbr_tips_bind_newline.fish
config/fish/functions/__abbr_tips_bind_space.fish
config/fish/functions/bass.fish
config/fish/functions/__abbr_tips_init.fish
config/fish/functions/__bass.py
config/fish/functions/__history_previous_command.fish
config/fish/functions/__history_previous_command_arguments.fish
config/fish/functions/__z.fish
config/fish/functions/__z_add.fish
config/fish/functions/__z_clean.fish
config/fish/functions/__z_complete.fish
config/fish/functions/_autopair_backspace.fish
config/fish/functions/_autopair_insert_left.fish
config/fish/functions/_autopair_insert_right.fish
config/fish/functions/_autopair_insert_same.fish
config/fish/functions/_autopair_tab.fish
config/fish/functions/_fzf_configure_bindings_help.fish
config/fish/functions/_fzf_extract_var_info.fish
config/fish/functions/_fzf_preview_file.fish
config/fish/functions/_fzf_report_file_type.fish
config/fish/functions/_fzf_search_directory.fish
config/fish/functions/_fzf_search_git_log.fish
config/fish/functions/_fzf_search_git_status.fish
config/fish/functions/_fzf_search_history.fish
config/fish/functions/_fzf_search_processes.fish
config/fish/functions/_fzf_search_variables.fish
config/fish/functions/_fzf_wrapper.fish
config/fish/functions/_nvm_index_update.fish
config/fish/functions/_nvm_list.fish
config/fish/functions/_nvm_version_activate.fish
config/fish/functions/_nvm_version_deactivate.fish
config/fish/functions/_tide_1_line_prompt.fish
config/fish/functions/_tide_2_line_prompt.fish
config/fish/functions/_tide_cache_variables.fish
config/fish/functions/_tide_detect_os.fish
config/fish/functions/_tide_find_and_remove.fish
config/fish/functions/_tide_item_aws.fish
config/fish/functions/_tide_item_character.fish
config/fish/functions/_tide_item_chruby.fish
config/fish/functions/_tide_item_cmd_duration.fish
config/fish/functions/_tide_item_context.fish
config/fish/functions/_tide_item_crystal.fish
config/fish/functions/_tide_item_docker.fish
config/fish/functions/_tide_item_git.fish
config/fish/functions/_tide_item_go.fish
config/fish/functions/_tide_item_java.fish
config/fish/functions/_tide_item_jobs.fish
config/fish/functions/_tide_item_kubectl.fish
config/fish/functions/_tide_item_newline.fish
config/fish/functions/_tide_item_nix_shell.fish
config/fish/functions/_tide_item_node.fish
config/fish/functions/_tide_item_os.fish
config/fish/functions/_tide_item_php.fish
config/fish/functions/_tide_item_private_mode.fish
config/fish/functions/_tide_item_rustc.fish
config/fish/functions/_tide_item_shlvl.fish
config/fish/functions/_tide_item_status.fish
config/fish/functions/_tide_item_terraform.fish
config/fish/functions/_tide_item_time.fish
config/fish/functions/_tide_item_toolbox.fish
config/fish/functions/_tide_item_vi_mode.fish
config/fish/functions/_tide_item_virtual_env.fish
config/fish/functions/_tide_parent_dirs.fish
config/fish/functions/_tide_print_item.fish
config/fish/functions/_tide_prompt.fish
config/fish/functions/_tide_pwd.fish
config/fish/functions/_tide_remove_unusable_items.fish
config/fish/functions/_tide_sub_bug-report.fish
config/fish/functions/_tide_sub_configure.fish
config/fish/functions/fish_mode_prompt.fish
config/fish/functions/fisher.fish
config/fish/functions/fzf_configure_bindings.fish
config/fish/functions/nvm.fish
config/fish/functions/tide
config/fish/functions/tide.fish

config/fish/conf.d/fish-ssh-agent.fish
config/fish/functions/__ssh_agent_is_started.fish
config/fish/functions/__ssh_agent_start.fish

# global variables, I'm worried this may end up with sensitive info
config/fish/fish_variables

# cheat
config/cheat/cheatsheets

# gh
config/gh/state.yml
config/gh/hosts.yml


# direnv
.direnv

# php
vendor/

# prettier
.config/prettier/cache.json
node_modules

# claude
home/.claude/*
!home/.claude/CLAUDE.md
!home/.claude/skills/

.claude/settings.local.json

# vagrant
.vagrant
.vagrant/**/*
