[submodule "home/.hammerspoon/ControlEscape.spoon"]
	path = home/.hammerspoon/Spoons/ControlEscape.spoon
	url = https://github.com/jasonrudolph/ControlEscape.spoon.git

[submodule "vendor/vim-pathogen"]
	path = vendor/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vendor/vim-plug"]
	path = vendor/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "vendor/sbp"]
	path = vendor/sbp
	url = https://github.com/brujoand/sbp.git
