.venv
__pycache__
home/.wireshark/**/recent
home/.wireshark/**/recent_common
home/.wireshark/.fccache-new

# can't check this in, because not everything is going to be available. instead this generated in fish.sh
config/omf/bundle
config/karabiner/automatic_backups/

# vim
home/.vim/sessions/default.vim
home/.vim/files/info/*
**/doc/tags
home/.vim/.netrwhist
home/.vim/plugged

# contains credentials and other sensitive data
config/gh/
home/.bash_profile.d/private

# sbp
config/sbp/cache
config/sbp/hook.log

# fish
# the current theme manages some of the files, so ignore those
config/fish/functions/fish_prompt.fish
config/fish/fishd.*

# global variables, I'm worried this may end up with sensitive info
config/fish/fish_variables

# cheat
config/cheat/cheatsheets