[github]
	user = technicalpickles

[include]
  path = ~/.gitconfig.local
  path = ~/.gitconfig.d/alias
  path = ~/.gitconfig.d/color

[includeIf "gitdir:/usr/local/Homebrew/"]
	path = ~/.gitconfig.d/personal-identity

[core]
	excludesFile = ~/.gitignore
	untrackedcache = true
	fsmonitor = true

[fetch]
  prune = true
	pruneTags = true
	all = true

[pull]
  rebase = false

[push]
 	default = current
	autoSetupRemote = true
	followTags = true

[mergetool]
	keepTemporaries = false
	keepBackup = false

[init]
	defaultBranch = main

[commit]
	verbose = true
	gpgsign = true

[remote]
  pushdefault = origin

[remote "origin"]
	prune = true

[merge]
	autoedit = no
	conflictstyle = zdiff3

[diff]
	colorMoved = plain
	algorithm = histogram
	renames = true
	mnemonicPrefix = true

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[rerere]
	enabled = true
	autoupdate = true

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[git-mob-config]
	use-local-template = true
[gpg]
	format = ssh
[user]
	signingkey = /Users/josh.nichols/.ssh/id_ed25519.pub
	name = Josh Nichols
	email = josh.nichols@gusto.com
[credential]
	helper = osxkeychain