[include]
	path = ~/.gitconfig.d/common
	path = ~/.gitconfig.local
	path = ~/.gitconfig.d/alias
	path = ~/.gitconfig.d/color

[includeIf "gitdir:/usr/local/Homebrew/"]
	path = ~/.gitconfig.d/home-identity
